# vscode
.vscode/**
.vscode-test/**
.vscode-test-web/**
vsc-extension-quickstart.md
*.vsix

# git
.gitignore
.github/**

# node
src/**
out/**
node_modules/**
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.log

# dev
assets/**
scripts/**

# prod
