# Ignore everything
*
*/**

# Whitelist
!package.json

!dist/web/extension.js

!images/commonlisp_file_icon.svg
!images/icon.png

!syntaxes/commonlisp.tmLanguage.json
!syntaxes/cl_codeblock.tmLanguage.json

!declaratives/language-configuration.json
!declaratives/commonlisp_snippets.json

!README.md
!CHANGELOG.md
!LICENSE
